.sidebar-bg{
    background-color: #1f2937;
    background-image: linear-gradient(180deg, #1f2937 10%, #1f2937 100%);
    background-size: cover;
}

body{
    background-color: #181F3B;
}

movie-container{
   background-color: #0c84ff;
}
